@using PTSL.GENERIC.Web.Core.Model.EntityViewModels.ForestManagement;
@model PTSL.GENERIC.Web.Core.Model.EntityViewModels.ForestManagement.CommitteeDesignationsConfigurationVM
@{
    ViewBag.Title = "Create Committee Designation";
    var Message = ViewBag.Message;
}

@section Styles {
    <link rel="stylesheet" href="~/multiselect/jquery.multiselect.css">
}
@section Scripts {
    <script src="~/multiselect/jquery.multiselect.js" defer></script>
}

<style>
    select[multiple] + div div.ms-options li label input {
        margin-right: 8px !important;
        margin-top: 5px !important;
    }

    label.error {
        color: red;
    }
</style>

<div class="card">
    <div class="card-header">
        <h4>
            <a href="/CommitteeDesignationsConfiguration/Index" class="mr-1 back">
                <svg width="20" height="20" viewBox="0 0 32 32">
                    <path fill="currentColor" d="m14 26l1.41-1.41L7.83 17H28v-2H7.83l7.58-7.59L14 6L4 16l10 10z" />
                </svg>
            </a>
            Create Committee Designation
        </h4>
        <button class="ml-auto reset btn btn-sm" onclick="resetFromData('#Form')">
            <svg class="rotate180z" width="16" height="16" viewBox="0 0 32 32">
                <path d="M25.95 7.65l.005-.004c-.092-.11-.197-.206-.293-.312c-.184-.205-.367-.41-.563-.603c-.139-.136-.286-.262-.43-.391c-.183-.165-.366-.329-.558-.482c-.16-.128-.325-.247-.49-.367c-.192-.14-.385-.277-.585-.406a13.513 13.513 0 0 0-.533-.324q-.308-.179-.625-.341c-.184-.094-.37-.185-.56-.27c-.222-.1-.449-.191-.678-.28c-.19-.072-.378-.145-.571-.208c-.246-.082-.498-.15-.75-.217c-.186-.049-.368-.102-.556-.143c-.29-.063-.587-.107-.883-.15c-.16-.023-.315-.056-.476-.073A12.933 12.933 0 0 0 6 7.703V4H4v8h8v-2H6.811A10.961 10.961 0 0 1 16 5a11.111 11.111 0 0 1 1.189.067c.136.015.268.042.403.061c.25.037.501.075.746.128c.16.035.315.08.472.121c.213.057.425.114.633.183c.164.054.325.116.486.178c.193.074.384.15.57.235c.162.072.32.15.477.23q.268.136.526.286c.153.09.305.18.453.276c.168.11.33.224.492.342c.14.102.282.203.417.312c.162.13.316.268.47.406c.123.11.248.217.365.332c.167.164.323.338.479.512A10.993 10.993 0 1 1 5 16H3a13 13 0 1 0 22.95-8.35z" fill="currentColor" />
            </svg>
            Reset
        </button>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Create", "CommitteeDesignationsConfiguration", FormMethod.Post, new { id = "Form" }))
        {
            <div class="form-horizontal">
                <div class="form-group col-md-6" style="float:left">
                    <label>
                        Committee Name<span style="color:red">*</span>
                    </label>
                    @Html.DropDownList("CommitteesConfigurationId", null, "Choose Committee Name", htmlAttributes: new { @class = "form-control col-md-12", @required = "required" })
                </div>
                <div class="form-group col-md-6" style="float:left">
                    <label>
                        Designation Name
                    </label>
                    <input type="text" class="form-control" id="DesignationName" name="@nameof(Model.DesignationName)" value="@Model.DesignationName" placeholder="Enter Designation Name">
                </div>
                <div class="form-group col-md-12 p-0 text-right">
                    <button type="button" class="btn btn-primary submit-btn pull-right">Submit</button>
                </div>
            </div>
        }
    </div>
</div>


<script> $(document).ready(function() {
           $("#ForestCircleId").multiselect({
           search: true,
           selectAll: true
           });
           $("#ForestDivisionIdList").multiselect({
           search: true,
           selectAll: true
           });
           })
           $(".submit-btn").on("click", function (event) {
           event.preventDefault();
           var data = {
            CommitteesConfigurationId: $("#CommitteesConfigurationId").val(),
            DesignationName: $("#DesignationName").val(),
           }
           if ($("#Form").valid()) {
           $.ajax({
           cache: false,
           type: "POST",
                url: "/CommitteeDesignationsConfiguration/Create",
           data: data,
           success: function (data) {
                    window.location.href = "/CommitteeDesignationsConfiguration/Index";
           },
           error: function (xhr, ajaxOptions, thrownError) {
           //
           }
           });
           }
           });
           $("#Form").validate({
           rules: {
            CommitteesConfigurationId: "required",
            DesignationName: "required",
           },
           });
         
           </script>

          