@model PTSL.GENERIC.Web.Core.Model.EntityViewModels.BeneficiarySavingsAccount.SavingsAccountVM
@{
    ViewBag.Title = "Savings";
}


@{
    long.TryParse(Context.Request.Query["id"], out var id);
}

<div class="card">
    <div class="card-header">

        <h4>
            <a href="/SavingsAccount/Index" class="mr-1 back">
                <svg width="20" height="20" viewBox="0 0 32 32">
                    <path fill="currentColor" d="m14 26l1.41-1.41L7.83 17H28v-2H7.83l7.58-7.59L14 6L4 16l10 10z" />
                </svg>
            </a>
            Savings Amount Information
        </h4>
    </div>

    <div class="card-body">
        <div class="form-horizontal">

            <form id="SavingsAmountForm"  enctype="multipart/form-data">
                <div class="col-12 p-1">
                    <fieldset class="p-2">
                        <legend class="float-none w-auto">Account Holder Name :
                            <b>@Model.Survey.BeneficiaryName</b><br />
                            <label>Your Minimum Instalment Amount: </label> @Model.AmountLimit
                            <input type="text" value="@Model.AmountLimit" id="AmountLimit" hidden/>
                            </legend>


                        <input id="savingsAccountId" placeholder="Savings Account" type="text" value="@id" class="form-control col-md-12" hidden />


                        <div class="row mt-2">
                            <div class="col-6 pl-1">
                                <label class="m-0">Savings Amount*</label>
                                <input id="savingsAmountId" name="savingsAmountId" placeholder="Savings Amount" type="text" value="" class="form-control col-md-12" />
                            </div>
                            <div class="col-6 pr-1">
                                <label class="m-0">Savings Date*</label>
                                <input id="savingsDateId" name="savingsDateId" placeholder="Savings Date" type="date" class="form-control col-md-12" />
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-6 pl-1">
                                <label class="m-0">Remarks</label>
                                <input id="remarkId" name="remarkId" placeholder="Remarks" type="text" class="form-control col-md-12" />
                            </div>
                            <div class="col-6 pr-1">
                                <label class="m-0">Upload Document</label>
                                <input type="file" class="form-control" name="DocumentFileUrl" id="DocumentFileUrl" placeholder="Enter files" accept=".doc,.docx,.xls,.xlsx" />
                            </div>
                        </div>


                        <div class="d-flex justify-content-end mt-2">
                            <button type="button" id="SavingsAmountId" class="btn btn-sm btn-green mr-2">
                                @*<i class="fa fa-save mr-2"></i>*@Save
                            </button>
                        </div>

                    </fieldset>
                </div>
            </form>
        </div>
    </div>

</div>



<script>
    $("#SavingsAmountId").on("click", function () {
        //alert("Tset save");

        var SavingsAmount = Number($("#savingsAmountId").val());
        var AmountLimit= Number($("#AmountLimit").val());

        if (AmountLimit > SavingsAmount) {
            alert("Your Minimum Instalment Amount: " + AmountLimit);
            return;
         }



        var SavingsAmountInformationVM = {
            SavingsAccountId: $("#savingsAccountId").val(),
            SavingsDate: $("#savingsDateId").val(),
            SavingsAmount: $("#savingsAmountId").val(),
            Remark: $("#remarkId").val()
           // DocumentFileUrl: $("#DocumentFileUrl").val()     
        };

        var formData = new FormData();
        formData.append('DocumentFileUrl', $('#DocumentFileUrl')[0].files[0]);

       
        for (var key in SavingsAmountInformationVM) {
            var value = SavingsAmountInformationVM[key];
            formData.append(key, value);
        }
 

        console.log(SavingsAmountInformationVM);
        $("#SavingsAmountForm").validate({
            rules: {
                savingsDateId: "required",
                savingsAmountId: "required",
            }
            });



        if ($("#SavingsAmountForm").valid()) {
            //var valCell = $("#CellNo").val();
            //alert(valCell);
            debugger;


            $.ajax({
                type: "POST",
                url: "/SavingsAccount/Savings",
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                dataType: 'json',
                success: function (response) {
                    //alert("Amount Save !");
                    window.location.href = '/SavingsAccount/Index/';
                }
            });
        }

    });

</script>

