@model PTSL.GENERIC.Web.Core.Model.EntityViewModels.SocialForestryMeeting.MeetingTypeForSocialForestryMeetingVM
@{
    ViewBag.Title = "Details";
}

<div class="card">
    <div class="card-header">
        <h4>
            <a href="/MeetingTypeForSocialForestryMeeting/Index" class="mr-1 back">
                <svg width="20" height="20" viewBox="0 0 32 32">
                    <path fill="currentColor" d="m14 26l1.41-1.41L7.83 17H28v-2H7.83l7.58-7.59L14 6L4 16l10 10z" />
                </svg>
            </a>
            Meeting Type For Social Forestry Meeting Details
        </h4>
    </div>

    <div class="card-body">
        <div class="form-horizontal">
            <div class="form-group">
                <label for="inputEventType" style="font-size:15px;">Meeting Type Name: <b>@Model.Name</b></label>
                @*<input type="text" class="form-control col-md-6" id="EventTypeName" name="EventTypeName" value="@Model.EventTypeName" placeholder="Enter EventType Name">*@

            </div>
            <div class="form-group">
                <label for="inputEventType" style="font-size:15px;">Meeting Type Name Bangla: <b>@Model.NameBn</b></label>
            </div>
        </div>
    </div>

    <!--
    <hr />
    <div class="card-header pull-left">
        <a href="/EventType/Index" class="btn btn-warning">Return to Index</a>
    </div>
    -->

</div>

