@{
    ViewBag.Title = "AIG Basic Information Report";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="col-md-10">
                    <h4>AIG Basic Information Report</h4>
                </div>
            </div>
            <div class="card-body">
                <form asp-action="AigBasicInformationReport" asp-controller="Reports" class="mb-4 green-card p-2" style="border-radius: 5px;">
                    <div class="row custom">
                        <div class="col-6 p-1">
                            @await Html.PartialAsync(
                            "~/Views/Shared/_ForestAdministration.cshtml",
                            (
                            ViewBag.ForestCircleId as SelectList,
                            ViewBag.ForestDivisionId as SelectList,
                            ViewBag.ForestRangeId as SelectList,
                            ViewBag.ForestBeatId as SelectList,
                            ViewBag.ForestFcvVcfId as SelectList
                            )
                            )
                        </div>

                        <div class="col-6 p-1">
                            @await Html.PartialAsync(
                            "~/Views/Shared/_CivilAdministration.cshtml",
                            (
                            ViewBag.DivisionId as SelectList,
                            ViewBag.DistrictId as SelectList,
                            ViewBag.UpazillaId as SelectList,
                            ViewBag.UnionId as SelectList
                            )
                            )
                        </div>
                    </div>

					<div class="row custom">
						<div class="col-12 p-1">
							<fieldset class="p-2">
								<legend class="float-none w-auto">Basic Information</legend>
								<div class="row">
									<div class="col pr-1">
										<label class="m-0">NGO</label>
										@Html.DropDownList("NgoId", null, "Select NGO", htmlAttributes: new { })
									</div>
									<div class="col px-1">
										<label class="m-0">Mobile Number</label>
										<input type="text" id="PhoneNumber" value="@ViewBag.PhoneNumber" name="PhoneNumber" placeholder="Enter Beneficiary Mobile Number" />
									</div>
									<div class="col px-1">
										<label class="m-0">NID</label>
										<input type="text" id="NID" value="@ViewBag.NID" name="NID" placeholder="Enter Beneficiary NID (if any)" />
									</div>
									<div class="col pl-1">
										<label class="m-0">Gender</label>
										@Html.DropDownList("Gender", null, "Select Gender", htmlAttributes: new { })
									</div>
								</div>
							</fieldset>
						</div>
					</div>

                    <div class="d-flex justify-content-end mt-2">
                        <button type="submit" class="btn btn-sm btn-green save">Report</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

