@{
    ViewBag.Title = "Community Training Report";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="col-md-10">
                    <h4>Community Training Report</h4>
                </div>
            </div>
            <div class="card-body">
                <form asp-action="CommunityTrainingReport" asp-controller="Reports" class="mb-4 green-card p-2" style="border-radius: 5px;">
                    <div class="row custom">
                        <div class="col-6 p-1">
                            @await Html.PartialAsync(
                            "~/Views/Shared/_ForestAdministration.cshtml",
                            (
                            ViewBag.ForestCircleId as SelectList,
                            ViewBag.ForestDivisionId as SelectList,
                            ViewBag.ForestRangeId as SelectList,
                            ViewBag.ForestBeatId as SelectList,
                            ViewBag.ForestFcvVcfId as SelectList
                            )
                            )
                        </div>

                        <div class="col-6 p-1">
                            @await Html.PartialAsync(
                            "~/Views/Shared/_CivilAdministration.cshtml",
                            (
                            ViewBag.DivisionId as SelectList,
                            ViewBag.DistrictId as SelectList,
                            ViewBag.UpazillaId as SelectList,
                            ViewBag.UnionId as SelectList
                            )
                            )
                        </div>
                    </div>

					<div class="row custom">
						<div class="col-12 p-1">
							<fieldset class="p-2">
								<legend class="float-none w-auto">Basic Information</legend>
								<div class="row">
									<div class="col pr-1">
										<label class="m-0">Training Organizer</label>
										@Html.DropDownList("TrainingOrganizerId", null, "Select Training Organizer", htmlAttributes: new { })
									</div>
									<div class="col px-1">
										<label class="m-0">Start Date</label>
										<input type="date" id="StartDate" value="@(ViewBag.StartDate is DateTime ? ((DateTime)ViewBag.StartDate).ToUIDateString() : null)" name="StartDate" placeholder="Enter start date" />
									</div>
									<div class="col px-1">
										<label class="m-0">End Date</label>
										<input type="date" id="EndDate" value="@(ViewBag.EndDate is DateTime ? ((DateTime)ViewBag.EndDate).ToUIDateString() : null)" name="EndDate" placeholder="Enter end date" />
									</div>
									<div class="col pl-1">
										<label class="m-0">Event Type</label>
										@Html.DropDownList("EventTypeId", null, "Select Event Type", htmlAttributes: new { })
									</div>
								</div>
							</fieldset>
						</div>
					</div>

                    <div class="d-flex justify-content-end mt-2">
                        <button type="submit" class="btn btn-sm btn-green save">Report</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

