@{
    ViewBag.Title = "Date wise Repayment Report";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="col-md-10">
                    <h4>Date wise Repayment Report</h4>
                </div>
            </div>
            <div class="card-body">
                <form asp-action="DateWiseRepaymentReport" asp-controller="Reports" class="mb-4 green-card p-2" style="border-radius: 5px;">
                    <div class="row custom">
                        <div class="col-6 p-1">
                            @await Html.PartialAsync(
                            "~/Views/Shared/_ForestAdministration.cshtml",
                            (
                            ViewBag.ForestCircleId as SelectList,
                            ViewBag.ForestDivisionId as SelectList,
                            ViewBag.ForestRangeId as SelectList,
                            ViewBag.ForestBeatId as SelectList,
                            ViewBag.ForestFcvVcfId as SelectList
                            )
                            )
                        </div>

                        <div class="col-6 p-1">
                            @await Html.PartialAsync(
                            "~/Views/Shared/_CivilAdministration.cshtml",
                            (
                            ViewBag.DivisionId as SelectList,
                            ViewBag.DistrictId as SelectList,
                            ViewBag.UpazillaId as SelectList,
                            ViewBag.UnionId as SelectList
                            )
                            )
                        </div>
                    </div>

                    <div class="row custom">
                        <div class="col-12 p-1">
                            <fieldset class="p-2">
                                <legend class="float-none w-auto">Other Information</legend>
                                <div class="row">
                                    <div class="col pr-1">
                                        <label class="m-0">Year</label>
                                        <input type="number" min="0001" max="9999" id="Year" value="" name="Year" placeholder="Enter year" />
                                    </div>
                                    <div class="col px-1">
                                        <label class="m-0">Month</label>
                                        @Html.DropDownList("Month", null, "Select Month", htmlAttributes: new { })
                                    </div>
                                    <div class="col px-1">
                                        <label class="m-0">Date</label>
                                        <input type="date" id="Date" value="" name="Date" placeholder="Enter date" />
                                    </div>
                                    <div class="col pl-1">
                                        <label class="m-0">Is Completed</label>
                                        <select name="IsCompleted">
                                            <!option value="">Select Is Completed</!option>
                                            <!option value="true">Yes</!option>
                                            <!option value="false">No</!option>
                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <div class="d-flex justify-content-end mt-2">
                        <button type="submit" class="btn btn-sm btn-green save">Report</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

